{{>header}}
<div class="container">
    <div class="row space-top">
      <div class="col-md-12">
        <h1>Create New Furniture</h1>
        <p>Please fill all fields.</p>
      </div>
    </div>
        <form method="POST" action="#/login">
            <div class="row space-top">
                <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="new-make">Email</label>
                    <input class="form-control" id="email" name="email" type="text">
                </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="form-control-label" for="new-model">Password</label>
                        <input class="form-control " id="password" name="password" type="password">
                    </div>
                </div>
            </div>
            <div class="row space-top">
            <input type="submit" class="btn btn-primary" id="submit" value="Login" />
            </div>
        </form>
        <div>
            <p> Need an account? sight up <a href="#/signup">here</a></p>
        </div>

    </div>

</div>

{{!-- <script src="./../js/loginHeper.js"></script> --}}
